First we import the necessary libraries. Here we only need pandas for data manipulation.

In [ ]:
# Import necessary libraries
import pandas as pd

The first line help in loading the dataset (in CSV format) into a data structure called a DataFrame. A DataFrame is like a table where each row represents a record and each column represents a specific attribute or feature of the data.
The second line "df.info()' is used to get information on dataset, such as, number of attributes(columns), rows, datatype of each column, and also the number of non-null values in each column.

In [ ]:
df = pd.read_csv('/content/dqu_products.csv')  # Load the CSV data into a pandas DataFrame
df.info() # Display information about the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               230 non-null    int64
 1   root_pg          230 non-null    int64
 2   alternate_view   230 non-null    object
 3   client_id        63 non-null     float64
 4   rg_id            230 non-null    int64
 5   desc_pg          230 non-null    int64
 6   order            230 non-null    int64
 7   access_level     230 non-null    int64
 8   type             230 non-null    object
 9   v20              230 non-null    object
 10  status           230 non-null    object
 11  name             230 non-null    object
 12  short_name       230 non-null    object
 13  criteria         0 non-null      float64
 14  replaced_by_ids  11 non-null     object
 15  notes            85 non-null     object
 16  minutes          110 non-null    float64
 17  iaap_credits     115 non-null    float64
 18  price            48 non-null     float64
 19  category         210 non-null    object
 20  description      80 non-null     object
 21  authors          124 non-null    object
 22  version          165 non-null    object
 23  keywords         84 non-null     object
dtypes: float64(5), int64(6), object(13)
memory usage: 43.2+ KB

The "df.drop([...column names...]) helps us in dropping unnecessary columns that are not needed for the analysis from the DataFrame.

In [ ]:
#Remove unnecessary columns
df.drop(['id', 'root_pg', 'alternate_view', 'client_id', 'desc_pg', 'order','access_level', 'v20', 'criteria', 'notes', 'price','iaap_credits', 'description', 'authors', 'version', 'keywords', 'replaced_by_ids'], axis=1, inplace=True)

 The '.fillna()' helps in filling the missing values in the 'minutes' column with 0.

In [ ]:
df['minutes'] = df['minutes'].fillna(0) # Fill missing values in the 'minutes' column with 0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rg_id       230 non-null    int64
 1   type        230 non-null    object
 2   status      230 non-null    object
 3   name        230 non-null    object
 4   short_name  230 non-null    object
 5   minutes     230 non-null    float64
 6   category    210 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 12.7+ KB

Average and Median across all the courses in Deque system with "Active" status

This code filters the DataFrame to include only rows where the 'status' column is 'active'. We saved the result into a new DataFrame called 'active_courses.'

In [ ]:
active_courses = df[df['status'] == 'active']   #To filter all the courses with status 'active'

We can use '.median()' and, '.mean()' to calulate the median and the average minutes for all the courses with the active status.

In [ ]:
# Calculate the median and mean minutes for active courses
median_minutes = active_courses['minutes'].median()
mean_minutes = active_courses['minutes'].mean()

# Print the median and mean minutes for active courses
print("Median minutes for active courses:", median_minutes,"mins")
print("Average minutes for active courses:", f"{mean_minutes:.2f}","mins")

Median minutes for active courses: 15.0 mins
Average minutes for active courses: 50.40 mins

***What is the average duration of all courses (according to the official Deque estimate), excluding the Conformance Testing courses?***

Now, to get an average of all courses excluding the Conformance Testing courses we can make a list of all the rg_ids that we want to filter out.

In the next line '.isin()' method is used on DataFrame to check each element is there or not. For a Series, 'isin(wcag_ids)' it returns a Series of True/False values, where True indicates that the rq_id is in the wcag_ids list.

The tilde '~' is a bitwise NOT operator in Python, and when used in this context, it inverts the True/False values of the boolean Series returned by 'isin()'.

So, in 'filtered_df' the DataFrame consits of only rows where 'rg_id' is not in 'wcag_ids'.

In [ ]:
wcag_ids = [26, 210, 257, 280, 281, 283] #Filtered a list of rg_id values from the active courses
filtered_df = active_courses[~active_courses['rg_id'].isin(wcag_ids)] # Filter to exclude the rows with the specified rg_id values

Here, we again use .mean() to calculate the average minutes of the 'filtered_df' and print it.

In [ ]:
mean_minutes_excluding_wcag_conformance = filtered_df['minutes'].mean() #Calculate the average minutes for active courses excluding specific wcag_ids values

print("Average minutes for active courses excluding the Conformance Testing courses:", f"{mean_minutes_excluding_wcag_conformance:.2f}","mins")

Average minutes for active courses excluding the Conformance Testing courses: 39.41 mins

***What is the duration (according to the official Deque estimate) of the WCAG Conformance Testing course?***

Here, we again use the '.isin()' method on DataFrame 'active_courses' to check each element is there or not. For a Series, 'isin(wcag_ids)' it returns a Series of True/False values, where True indicates that the rq_id is in the wcag_ids list. Therefore, save the rows in the 'wcag_courses'.

In [ ]:
wcag_courses = active_courses[active_courses['rg_id'].isin(wcag_ids)] # Filter to include the rows with the specified rg_id values

Then we calculate the sum, median and average using '.sum', '.median', '.mean' and then print the results below.

In [ ]:
# Calculate the total, average, and median minutes for WCAG Conformance Testing courses
wcag_total_minutes = wcag_courses['minutes'].sum()
wcag_mean = wcag_courses['minutes'].mean()
wcag_median = wcag_courses['minutes'].median()

# Print the total, average, and median minutes for WCAG Conformance Testing courses
print("Total minutes for WCAG Conformance Testing course:", wcag_total_minutes,"mins")
print("Average minutes for WCAG Conformance Testing course:", wcag_mean,"mins")
print("Median minutes for WCAG Conformance Testing course:", wcag_median,"mins")

Total minutes for WCAG Conformance Testing course: 1875.0 mins
Average minutes for WCAG Conformance Testing course: 312.5 mins
Median minutes for WCAG Conformance Testing course: 375.0 mins